<template>
    <Page>
        <login></login>
    </Page>
</template>

<script>
import Login from './Login';
  export default {
    components: {
        'login': Login
    },

    data() {
      return {

      }
    }
  }
</script>

<style scoped>

</style>
