<template>
    <Page>
        <ActionBar title="Cart Page"/>

        <StackLayout>
            <Image src="~/assets/images/back.png" @tap="goBack" width="25" height="25" />

            <FlexboxLayout alignItems="center" justifyContent="space-around" flexDirection="row" class="container">
                <Image src="~/assets/images/maths-set.webp" class="item-image"/>
                <FlexboxLayout flexDirection="column" alignItems="center">
                    <Label textWrap="true" text="A Mathematical Set"/>
                </FlexboxLayout>
                <Label text="$9.99"/>
            </FlexboxLayout>

            <FlexboxLayout alignItems="center" justifyContent="space-between" flexDirection="row" class="container">
                <Image src="~/assets/images/flask.jpg" class="item-image"/>
                <FlexboxLayout flexDirection="column" alignItems="center">
                    <Label textWrap="true" text="Stainless Steel Flask"/>
                </FlexboxLayout>
                <Label text="$29.99"/>
            </FlexboxLayout>

            <FlexboxLayout alignItems="center" justifyContent="space-between" flexDirection="row" class="container">
                <Image src="~/assets/images/kettle.jfif" class="item-image"/>
                <FlexboxLayout flexDirection="column" alignItems="center">
                    <Label textWrap="true" text="Pyramid Kettle"/>
                </FlexboxLayout>
                <Label text="$129.99"/>
            </FlexboxLayout>

            <Button text="Make Payment" class="payment-btn" @tap="makePayment"/>

        </StackLayout>
    
    </Page>
</template>

<script>
import { TNSFancyAlert, TNSFancyAlertButton } from "nativescript-fancyalert";
  export default {

    data() {
      return {

      }
    },
    methods: {
        goBack() {
            this.$navigateBack()        
        },
        makePayment() {
            TNSFancyAlert.showSuccess(
              "Payment Made!",
              "",
              "Continue"
            ).then(() => {
              /* user pressed the button */
            })
        }
    },
    created() {
        com.uxcam.UXCam.tagScreenName("Cart Page");
    }
  }
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
    Page {
        font-family: 'Courier Prime', monospace;
    }
    ActionBar {
        background-color: #333b59;
        color: #ffffff;
    }

    Button {
        font-weight: 30;
    }
    .cartButton {
        background-color: #333b59;
        color: #ffffff;
    }
    .info {
        font-size: 30;
        font-weight: 30;
    }
    .container {
        margin: 20 20;
        padding: 20 20;
        border-bottom: 2px solid #000;
        border-bottom-width: 1;
    }
    .item-image {
        width: 100;
    }
    .payment-btn {
        padding: 10;
        border-radius: 7;
        text-transform: uppercase;
        background-color: #333b59;
        color: white;
    }

</style>