<template>
    <Page actionBarHidden="true">
        <ActionBar title="Home Page"/>
        <ScrollView>
            <StackLayout>
                <Label text="Go Back" @tap="goBack"/>
                <CardView class="cardStyle" margin="10" elevation="40" radius="5">
                   <GridLayout rows="200, auto, auto" columns="auto, auto, *">
                       <Image src="~/assets/images/mango.jpg" stretch="aspectFill" colSpan="3" row="0" />
                       <Label text="MANGO" class="info" textWrap="true" row="1" colSpan="3" />
                       <Button text="ADD TO CART" @tap="addToCart" row="2" col="7" />
                   </GridLayout>
               </CardView>

               <CardView class="cardStyle" margin="10" elevation="40" radius="5">
                   <GridLayout rows="200, auto, auto" columns="auto, auto, *">
                       <Image src="~/assets/images/orange.jpg" stretch="aspectFill" colSpan="3" row="0" />
                       <Label text="ORANGE" class="info" textWrap="true" row="1" colSpan="3" />
                       <Button text="ADD TO CART" @tap="addToCart" row="2" col="7" />
                   </GridLayout>
               </CardView>

                <Button text="Go To Cart" class="cartButton" @tap="goToCart"/>
            </StackLayout>
        </ScrollView>
    </Page>
</template>

<script>
import { TNSFancyAlert, TNSFancyAlertButton } from "nativescript-fancyalert";
import Cart from './Cart'
  export default {

    data() {
      return {
        products: [
            {name: 'Mango', image: 'mango.jpg'},
            {name: 'Orange', image: 'orange.jpg'}
        ]
      }
    },
    methods: {
        goToCart() {
            this.$navigateTo(Cart)
        },
        goBack() {
            this.$navigateBack()
        },
        addToCart() {
            TNSFancyAlert.showSuccess(
              "Added to cart!",
              "",
              "OK!"
            ).then(() => {
              /* user pressed the button */
            })
        }
    },
    created() {
        com.uxcam.UXCam.tagScreenName("Home Page");
    }
  }
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
    Page {
        font-family: 'Courier Prime', monospace;
    }
    ActionBar {
        background-color: #333b59;
        color: #ffffff;
    }
    CardView {
        margin-bottom: 35;
    }
    .cartButton {
        background-color: #333b59;
        color: #ffffff;
    }
    .cardStyle {
        background-color: #333b59;
        color: #ffffff;
    }

</style>
