    <template>
    <Page actionBarHidden="true">
        <StackLayout>
            <FlexboxLayout flexDirection="column" justifyContent="center" class="full-height">
                <Image src="~/assets/images/logo.png" class="logo"/>
                
                <StackLayout class="container">
                    <FlexboxLayout alignItems="center" class="border-bottom">
                        <Image src="~/assets/images/user_icon.png" height="30" width="30" class="icon" />
                        <TextField v-model="usernameInput" hint="Username" class="form-input"/>
                    </FlexboxLayout>

                    <FlexboxLayout alignItems="center" class="border-bottom">
                        <Image src="~/assets/images/lock.png" height="30" width="30" class="icon" />
                        <TextField v-model="passwordInput" hint="Password" secure="true" class="form-input"/>
                    </FlexboxLayout>
                    
                    
                    <Button text="Login" @tap="loginUser" class="login-button"></Button>

                    <FlexboxLayout alignItems="center" justifyContent="space-between" class="auth-buttons">
                        <Label horizontalAlignment="left" text="Create Account" @tap="registerUser"/>
                        <Label horizontalAlignment="right" text="Forgot Password" />
                    </FlexboxLayout>
                </StackLayout>
            
            </FlexboxLayout>
        </StackLayout>
    
    </Page>
</template>

<script>
import Home from './Home';
import Register from './Register';
  export default {

    data() {
      return {
        usernameInput: '',
        passwordInput: ''
      }
    },
    methods: {
        loginUser() {
            this.$navigateTo(Home)
        },
        registerUser() {
            this.$navigateTo(Register)
        }
    },
    created() {
        com.uxcam.UXCam.tagScreenName("Login Page");
    }
  }
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
    Page {
        font-family: 'Roboto', monospace;
    }
    StackLayout {
        background: linear-gradient(to right, #333b59, #647c91)
    }
    TextField {
        width: 80%;
        border-bottom-color: transparent;
    }

    .border-bottom {
        border-bottom-width: 1;
        border-bottom-color: #fff;
        margin-bottom: 45;
    }
    .form-input {
        color: white;
        placeholder-color: white;
        font-size: 20;
    }

    .icon {
        margin-right: 10;
    }
    .login-button {
        border-radius: 8;
        background-color:#333b59;
        color: white;
        font-weight: bold;
        padding: 14 0;
        text-transform: uppercase;
        letter-spacing: 0.1;
        margin-bottom: 20;
        margin-top: 10;
    }

    .auth-buttons {
        color: white;
        font-size: 15;
    }
    .full-height {
        height: 100%;
    }
    .logo {
        width: 200;
        margin-bottom: 60;
    }
    .container {
        margin: 0 45;
    }

</style>
